---
---

<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">  
  <link rel="stylesheet" href="/assets/css/main.css" />
  <script src="https://kit.fontawesome.com/61f44ad046.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript">
    $(window).on('scroll', function(){
      if($(window).scrollTop()){
         $('nav').addClass('black');
      }
      else {
         $('nav').removeClass('black');
      }
    })
  </script>
</head>
<body>
{% include header.html %}
{% include about.html %}
{% include skills.html %}
{% include education.html %}
{% include contact.html %}
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>