<section class="section scrollspy" id="about-me-section">

    <h2 id="about-me">About Me</h2>

    <div class="imgs-container">
        
        <div class="imgs-slide"></div>

    </div>

    <div class="description-1">
        <p class="paragraph">
            <b class="b-a">Hi there!</b> My name is <b class="b-a">Brian Hu</b> and I'm currently a second-year student at 
            <b class="b-a">McGill University</b> pursuing a BSc. Honours <b class="b-a">Computer Science</b> with a minor in 
            <b class="b-a">Statistics</b>.
            <br></br>
            In my academic work and personal experience, I've learned <b class="b-a">Python, Java, C++, HTML, CSS and 
            JavaScript</b>. I've used frameworks such as <b class="b-a">Flask and Django</b>, database systems such as
            <b class="b-a">MySQL and PostgreSQL</b>, and <b class="b-a">Git</b> for version control.
            <br></br>
            Given the opportunity, I participate in <b class="b-a">hackathons</b> to improve my programming skills and develop
            cool projects! I also do <b class="b-a">online tutoring</b> on the fundamentals of computer science, as I believe sharing
            knowledge is as important as learning itself. When I'm not programming, I go for a run or a swim
            to <b class="b-a">destress</b>. I enjoy working out and maintaining a <b class="b-a">healthy balance</b> between
            an academic and a social lifestyle!
        </p>
    </div>
    
    <div class="icon-collage">
        
        <i class="fas fa-chart-bar fa-2x" id="graph"><span><span></span></span></i>
        <i class="fas fa-map-marker-alt fa-2x" id="list"><span><span></span></span></i>
        <a class="btn" href="/assets/pdfs/BrianHu_resume.pdf" target="_blank"><span>View Resume</span></a>
        <i class="fas fa-compass fa-2x" id="compass"><span><span></span></span></i>
        <i class="fas fa-laptop-code fa-2x" id="link"><span><span></span></span></i>

    </div>

    <script src="/assets/js/about/image.js"></script>

</section>
