<section class="section scrollspy" id="education-section">

    <h2 id="education">Education</h2>

    <div class="description-2">
        <p>
            I completed the IB diploma at Colonel By Secondary School from 2015 to 2019. I am now enrolled at McGill University 
            with the following classes listed per semester. <b class="b-e">For</b> <b class="b-e">more</b> <b class="b-e">information</b>, 
            <b class="b-e">click</b> <b class="b-e">on</b> <b class="b-e">a</b> <b class="b-e">class</b> <b class="b-e">to</b> 
            <b class="b-e">access</b> <b class="b-e">its</b> <b class="b-e">official</b> <b class="b-e">McGill</b> <b class="b-e">page:</b>
        </p>
    </div>

    <div class="timeline">
        <ul>
            <li>
                <div class="content">
                    <h3 class="winter">McGill Winter Semester 2</h3>
                    <p id="content1">
                        <b>The following are my classes for the Winter 2021 Semester:</b>
                        <dl class="class-list">
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/comp-252" target="_blank" class="class-link" tabindex="1"><em>Honours Algorithms & Data Structures</em>&nbsp&nbsp-&nbsp&nbsp<b>COMP252</b></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/comp-303" target="_blank" class="class-link" tabindex="2"><em>Software Design</em>&nbsp&nbsp-&nbsp&nbsp<b>COMP303</b></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/comp-322" target="_blank" class="class-link" tabindex="3"><em>Introduction to C++</em>&nbsp&nbsp-&nbsp&nbsp<b>COMP323</b></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/math-308" target="_blank" class="class-link" tabindex="4"><em>Fundamentals of Stat. Learning</em>&nbsp&nbsp-&nbsp&nbsp<b>MATH308</b></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/math-323" target="_blank" class="class-link" tabindex="5"><em>Probability</em>&nbsp&nbsp-&nbsp&nbsp<b>MATH323</b></a></dt>
                        </dl>
                    </p>
                </div>
                <div class="time" id="time1">
                    <h4>January 2021</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3 class="fall">McGill Fall Semester 2</h3>
                    <p>
                        <b>The following are my classes for the Fall 2020 Semester:</b>
                        <dl class="class-list">
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/comp-273" target="_blank" class="class-link" tabindex="1"><b>COMP273</b>&nbsp&nbsp-&nbsp&nbsp<em>Intro to Computer Systems</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/comp-302" target="_blank" class="class-link" tabindex="2"><b>COMP302</b>&nbsp&nbsp-&nbsp&nbsp<em>Programming Language & Paradigms</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/math-203" target="_blank" class="class-link" tabindex="3"><b>MATH203</b>&nbsp&nbsp-&nbsp&nbsp<em>Principles of Statistics</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/math-208" target="_blank" class="class-link" tabindex="4"><b>MATH208</b>&nbsp&nbsp-&nbsp&nbsp<em>Intro to Statistical Computing</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2020-2021/courses/math-223" target="_blank" class="class-link" tabindex="5"><b>MATH223</b>&nbsp&nbsp-&nbsp&nbsp<em>Linear Algebra</em></a></dt>
                        </dl>
                    </p>
                </div>
                <div class="time" id="time2">
                    <h4>September 2020</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3 class="summer">McGill Summer Semester</h3>
                    <p>
                        <b>The following was my class for the Summer 2020 Semester:</b>
                        <dl class="class-list">
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/math-222" target="_blank" class="class-link" tabindex="1"><em>Calculus 3</em>&nbsp&nbsp-&nbsp&nbsp<b>MATH222</b></a></dt>
                        </dl>  
                    </p>
                </div>
                <div class="time" id="time3">
                    <h4>May 2020</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3 class="content-title">McGill Winter Semester 1</h3>
                    <p>
                        <b>The following were my classes for the Winter 2020 Semester:</b>
                        <dl class="class-list">
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/comp-189" target="_blank" class="class-link" tabindex="1"><b>COMP189</b>&nbsp&nbsp-&nbsp&nbsp<em>Computers and Society</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/comp-206" target="_blank" class="class-link" tabindex="2"><b>COMP206</b>&nbsp&nbsp-&nbsp&nbsp<em>Intro to Software Systems</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/comp-250" target="_blank" class="class-link" tabindex="3"><b>COMP250</b>&nbsp&nbsp-&nbsp&nbsp<em>Intro to Computer Science</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/math-141" target="_blank" class="class-link" tabindex="4"><b>MATH141</b>&nbsp&nbsp-&nbsp&nbsp<em>Calculus 2</em></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/math-240" target="_blank" class="class-link" tabindex="5"><b>MATH240</b>&nbsp&nbsp-&nbsp&nbsp<em>Discrete Structures</em></a></dt>
                        </dl>
                    </p>
                </div>
                <div class="time" id="time4">
                    <h4>January 2020</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3 class="content-title">McGill Fall Semester 1</h3>
                    <p>
                        <b>The following were my classes for the Fall 2019 Semester:</b>
                        <dl class="class-list">
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/comp-202" target="_blank" class="class-link" tabindex="1"><em>Foundations of Programming</em>&nbsp&nbsp-&nbsp&nbsp<b>COMP202</b></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/econ-225" target="_blank" class="class-link" tabindex="2"><em>Economics of the Environment</em>&nbsp&nbsp-&nbsp&nbsp<b>ECON225</b></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/math-133" target="_blank" class="class-link" tabindex="3"><em>Linear Algebra and Geometry</em>&nbsp&nbsp-&nbsp&nbsp<b>MATH133</b></a></dt>
                            <dt><a href="https://www.mcgill.ca/study/2019-2020/courses/math-141" target="_blank" class="class-link" tabindex="4"><em>Calculus 1</em>&nbsp&nbsp-&nbsp&nbsp<b>MATH141</b></a></dt>
                        </dl>
                    </p>
                </div>
                <div class="time" id="time5">
                    <h4>September 2019</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h3 class="content-title">Colonel By Secondary School</h3>
                    <p>
                        <b>The following were the IB courses I completed for my IB diploma:</b>
                        <dl class="class-list">
                            <dt><b>Group 1</b>&nbsp&nbsp-&nbsp&nbsp<em>Higher Level English</em></dt>
                            <dt><b>Group 2</b>&nbsp&nbsp-&nbsp&nbsp<em>Standard Level French</em></dt>
                            <dt><b>Group 3</b>&nbsp&nbsp-&nbsp&nbsp<em>Standard Level Information Technology</em></dt>
                            <dt><b>Group 4</b>&nbsp&nbsp-&nbsp&nbsp<em>Higher Level Physics</em></dt>
                            <dt><b>Group 5</b>&nbsp&nbsp-&nbsp&nbsp<em>Standard Level Math</em></dt>
                            <dt><b>Group 6</b>&nbsp&nbsp-&nbsp&nbsp<em>Higher Level Chemistry</em></dt>
                        </dl>
                    </p>
                </div>
                <div class="time" id="time6">
                    <h4>2015&nbsp&#8212&nbsp2019</h4>
                </div>
            </li>
            <div style="clear: both"></div>
        </ul>
    </div>

</section>
