<section class="section scrollspy" id="skills-section">

    <h2 id="skills">// my skills</h2>

    <div class="description-2">
        <p>
            I've picked up on many <b class="b-s">programming</b> <b class="b-s">languages</b> as well as <b class="b-s">tools</b>
            <b class="b-s">and</b> <b class="b-s">technologies</b> throughout the years, from both academic and personal experience:
        </p>
    </div>

    <div id="wrapper-1" class="wrapper">

        <div id="skills-list-1" class="list">
            <h3 id="header-1" class="header">Programming Languages</h3>
            <li>
                <span class="bar"><span class="lang1">Python</span></span>
            </li>

            <li>
                <span class="bar"><span class="lang2">Java</span></span>
            </li>

            <li>
                <span class="bar"><span class="lang3">HTML/CSS</span></span>
            </li>

            <li>
                <span class="bar"><span class="lang4">JavaScript</span></span>
            </li>

            <li>
                <span class="bar"><span class="lang5">C/C++</span></span>
            </li>

            <li>
                <span class="bar"><span class="lang6">Swift</span></span>
            </li>
        </div>

        <div id="skills-list-2" class="list">
            <h3 id="header-2" class="header">Tools & Technologies</h3>
            <li>
                <span class="bar"><span class="tool1">Flask</span></span>
            </li>

            <li>
                <span class="bar"><span class="tool2">Eclipse</span></span>
            </li>

            <li>
                <span class="bar"><span class="tool3">Linux</span></span>
            </li>

            <li>
                <span class="bar"><span class="tool4">MySQL</span></span>
            </li>

            <li>
                <span class="bar"><span class="tool5">XCode</span></span>
            </li>

            <li>
                <span class="bar"><span class="tool6">Unity</span></span>
            </li>
        </div>

    </div>
    
    <div class="description2-2">
        <p>
            In my free time, I have several <b class="b-s">areas</b> <b class="b-s">of</b> <b class="b-s">interest</b>. These are topics
            in which I've either already done or hope to do more programming and research about in the future:
        </p>
    </div>


    <div id="wrapper-2" class="wrapper">
        
        <div id="skills-list-3" class="list">
            <h3 id="header-3" class="header">Areas of Interest</h3>
            <li>
                <span class="bar"><span class="area1">Web Development</span></span>
            </li>
    
            <li>
                <span class="bar"><span class="area2">Machine Learning</span></span>
            </li>
        </div>

        <div id="skills-list-4" class="list">
            <li id="topitem-4">
                <span class="bar"><span class="area3">Data Visualization</span></span>
            </li>
    
            <li>
                <span class="bar"><span class="area4">App Development</span></span>
            </li>
        </div>
    </div>
    

    <script src="assets/js/skills/scroll-out.js"></script>
    <script type="text/javascript">
        ScrollOut({
            targets: '.lang1,.lang2,.lang3,.lang4,.lang5,.lang6, \
                      .tool1,.tool2,.tool3,.tool4,.tool5,.tool6, \
                      .area1,.area2,.area3,.area4'
        })
    </script>

</section>